[core]
	excludesfile = /root/.gitignore
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[push]
	default = current
[user]
	name = travis
	email = baksha97@gmail.com