[include]
        path = ~/.gitconfig-profile
[core]
        excludesfile = ~/.gitignore
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[credential]
        helper = 
        # macOS built-in keychain (fails silently on Linux)
        helper = osxkeychain
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://dev.azure.com"]
        useHttpPath = true
[push]
	autoSetupRemote = true
